@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/poppins-300.woff2) format('woff2'),
         url(/fonts/Poppins-Light.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/poppins-500.woff2) format('woff2'),
         url(/fonts/Poppins-Medium.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    src: url(/fonts/poppins-500italic.woff2) format('woff2'),
         url(/fonts/Poppins-MediumItalic.ttf) format('truetype');
    font-display: swap;
}